*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #F1F3f6;
}

.navbar{
    min-height:75px;
    background-color: rgb(19, 66, 184);
    color:white;

    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:20px;

    padding:12px 24px;
    flex-wrap:wrap;

    box-shadow:0 2px 10px rgba(0,0,0,.12);
}

.navbar-logo{
    display:flex;
    flex-direction:column;
     padding: 1px 8px 0px 6px;
     margin-left:11px;
     text-decoration: none;
     color: white;
}
.smile{
    width: 90px;
}

.location{
     margin:0;
    white-space:nowrap;
}

.deliever{
    margin-left: 27px;
    font-size: 0.85rem;
}
.location-icon{
    display: flex;
    align-items: center;
}
.locate{
    width: 25px;
    margin-top: 2px;
}
.update{
    font-size:1rem;
     margin-left: 3px;
     font-weight: 600;
}

.search-bar{
    display:flex;
    flex:1;
    min-width:250px;
    max-width:600px;
}

.search{
    width:100%;
    height: 36px;
    padding: 0px 16px 0px 16px;
    border:none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.search:focus{
    border: none;
    outline: none;
}


.search-icon{
    width: 20px;
    height: 20px;
    color: rgb(19, 66, 184);
}

.submit{
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    padding: 0 12px;
    cursor: pointer;
    width: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}



.login{
    background-color: white;
    width: 90px;
    color: rgb(19, 66, 184);
    padding: 8px;
    text-align: center;
    border-radius: 20px;
    font-size: 1rem;
    border: none;
}

.login:hover{
     background:#f3f3f3;
    transform: scale(105%);
}
.cart,
.wishlist{
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(220, 217, 217);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
     position:relative;
}

.cart:hover{
    color: white;
}

.wishlist:hover{
    color: white;
}

.wishlist-icon {
  background: transparent !important;
}
.cart-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    width: 24px;
    height: 24px;
}
.cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wishlist-count{
    position:absolute;
    top:-8px;
    right:-12px;

    width:18px;
    height:18px;
    border-radius:50%;

    background:red;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:11px;
}
@media (max-width: 992px){

    .navbar{
        gap:15px;
    }

    .search-bar{
        order:3;
        width:100%;
        max-width:100%;
    }

    .search{
        width:100%;
    }

    .location{
        display:none;
    }
}

.menu-btn{
    display:none;
}

.mobile-menu{
    display:none;
}
@media(max-width:576px){

.navbar{

    padding:10px 15px;
    flex-wrap:nowrap;
}

.location{
    display:none;
}

.login{
    display:none;
}

.search-bar{

    order:2;
    width:100%;
    margin-top:10px;
}

.wishlist-text,
.cart-text{
    display:none;
}

.wishlist svg,
.cart svg{

    font-size:22px;
}

.menu-btn{

    display:flex;
    align-items:center;
    justify-content:center;

    background:none;
    border:none;

    color:white;
    font-size:22px;
    cursor:pointer;
}

.mobile-menu{

    display:flex;
    flex-direction:column;

    background:white;

    padding:15px;
    gap:15px;

    box-shadow:0 2px 10px rgba(0,0,0,.15);
}

.mobile-link{

    text-decoration:none;
    color:#333;
    font-weight:600;
}
}